.card img{
  height: 200px;
  width: 200px;
  margin: auto;
  margin-top: 10px;
  align-items: center;
  cursor: pointer;
}
.description{
  margin-bottom: 0px;
}
.price{
  margin-top: 2px;
  margin-bottom: 0px;
}
.card:hover{
  box-shadow: 4px 4px 4px 4px #fff441;
  color: black;
}